body{
  background-color:"#fff3b8";}

#main{
  padding: 40px 80px;
  border: green 1px solid;
  background-color:white;}

.photo{
  float:left;
  margin-right:30px;}

.btn{
  -webkit-appearance: none;
  margin:5px}

.btn-ss{
  background-color:silver;
  color:white;
}

.btn-res{
  background-color:silver;
  color:white;
}
